<h1>
  Welcome to the world's most unique application
</h1>

<p>
  This app has been created no less than a 100 million times before, and you are one of the lucky few millions who get to try it.
</p>
<div class="sign-link">
  <ul>
    <li><%= link_to 'Login', new_user_session_path %></li>
    <li><%= link_to 'Sign Up', new_user_registration_path %></li>
  </ul>
</div>
