body {
  max-width: 1440px;
  margin: 0 auto;
  background-color: rgb(249, 244, 244);
  padding: 4rem 10rem; 
}

.container {
  background-color: #666666;
  padding: 1rem 1rem;
  display: flex;
  flex-wrap: wrap;
}
nav {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  width:100%;
  box-sizing: border-box;
  padding-right: 4rem;
}

 nav ul {
  display: flex;
  list-style: none;
  display: flex;
  gap: 10px;
  flex-grow: 1;
  justify-content: flex-end;
  flex-wrap: wrap;

}
nav ul li {
  margin-left: 20px;
}
nav ul li a {
  color: #fff;
  text-decoration: none;
}


  .notice {
    color: red;
    font-size: 1.2em;
  }
  
  .alert {
    color: green;
    font-size: 1.2em;
  }
  
  .sign-out-button {
    background-color: #ff5c5c;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .sign-out-button:hover {
    background-color: #ff1a1a;
  }
  
  .sign-link {
    display: flex;
    border: #666666;
    
  }
  .sign-link a{
    width: 100px;
    color: #007bff;
    text-decoration: none;
    margin-right: 10px;
    color: #fff;
    background-color: #007bff;
    border: 2px solid#007bff;
    border-radius: 5px;
    padding: 10px 20px;
    text-decoration: none;
    display: inline-block;
    margin-right: 10px;
    text-align: center;

  }
  a,
button {
  text-decoration: none;
  color: var(--GrayishViolet);
  font-weight: bold;
  font-size: 1rem;
}
a:hover {
  color: var(--VeryDarkBlue);
}

p {
  line-height: 1.6;
  color: var(--GrayishViolet);
  margin: 0.5rem 0;
}
ul,
li {
  list-style-type: none;
  padding: 0;
  margin: 10px;
}
@media screen and (max-width: 768px) {
  nav {
    flex-direction: column; 
    align-items: center; 
  }

  nav ul {
    justify-content: center; 
  }

  .sign-link {
    flex-direction: column; 
    gap: 10px;
  }
}

@media screen and (max-width: 375px) {
  .sign-link a {
    width: 100%; 
    margin-bottom: 10px; 
    flex-direction: column; 
    align-items: center; 
  }
}