.crud-actions {
    margin-top: 20px;
    display: flex;
    gap: 10px;
    justify-content: center;
  }
.crud {
    width: 100px;
    color: #fff;
    background-color: #007bff;
  border: 2px solid #007bff;
  border-radius: 5px;
  padding: 10px 20px;
  text-decoration: none;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-weight: bold;
}
.crud button {
    background: none;
    border: none;
    padding: 0;
    margin: 0;
    color: inherit;
    font: inherit;
    cursor: pointer;
  }

p strong {
    font-weight: bold; 
    color: #16a085; 
    font-size: 1.1rem; 
    margin-right: 5px; 
    display: inline-block; 
}

.crud:hover {
    color: var(--VeryDarkBlue);

}
}

@media screen and (max-width: 768px) {
    .crud {
        display: flex;
        width: 100%; 
        margin-top: 10px; 
        flex-direction: column; 
        align-items: center; 
  }
}
  
  @media screen and (max-width: 375px) {
    .crud {
        display: flex;
      width: 100%; 
      margin-top: 10px; 
      flex-direction: column; 
      align-items: center; 
    }
  }